# Protótipo da Pipeline dos Conjuntos de Dados — Schiphol AircraftTypes

Este protótipo tem como objetivo validar o fluxo completo dos dados referente ao conjunto de dados AircraftTypes da api do Schiphol.  
A pipeline foi construída para verificar se os valores estão sendo disponibilizados corretamente em cada etapa.

O foco principal é garantir **consistência**, **integridade** e **precisão** dos dados antes da implementação final da arquitetura.

In [1]:

import pandas as pd

df = pd.read_csv(r'../data/aircraftTypes.csv', index_col=0)

dataframe_copy = df.copy()

pd.set_option('display.max_columns', None)   
pd.set_option('display.max_rows', None)      
pd.set_option('display.width', 300)         
pd.set_option('display.max_colwidth', None) 
pd.set_option('display.float_format', '{:.2f}'.format)

dataframe_copy

   iataMain iataSub                      longDescription shortDescription
0       100     100                           FOKKER 100            FK100
1       146     141            BRITISH AEROSPACE 146-100      BAE 146-100
2       146     142  BRITISH AEROSPACE 146-200 PASSENGER     BAE 146-200P
3       146     143            BRITISH AEROSPACE 146-300      BAE 146-300
4       14F     14Y  BRITISH AEROSPACE 146-200 FREIGHTER     BAE 146-200F
5       220     221                      Airbus A220-100    Airbus A220-1
6       220     223                      Airbus A220-300    Airbus A220-3
7       310     313            AIRBUS A310-300 PASSENGER         A310-300
8       31F     31Y            AIRBUS A310-300 FREIGHTER        A310-300F
9       32S     32X                   AIRBUS A321-200P2F     AIRBUS A321F
10      32S     32A            AIRBUS A320-214 SHARKLETS   A320-214 SHARK
11      32S     31N                      AIRBUS A319 NEO  AIRBUS A319 NEO
12      32S     32N                      AIRBUS A320 NEO  AIRBUS A320 NEO
13      32S     318                          AIRBUS A318      AIRBUS A318
14      32S     319                          AIRBUS A319      AIRBUS A319
15      32S     320                          AIRBUS A320      AIRBUS A320
16      32S     32Q                AIRBUS A321 NEO (XLR)  AIRBUS A321 NEO
17      32S     321                  AIRBUS A321-100/200      AIRBUS A321
18      330     339                   AIRBUS A330-900neo  AIRBUS A330-900
19      330     338                   Airbus A330-800NEO  Airbus A330-800