# Protótipo da Pipeline dos Conjuntos de Dados — Schiphol Flights

Este protótipo tem como objetivo validar o fluxo completo dos dados referente ao conjunto de dados Flights da api do Schiphol.  
A pipeline foi construída para verificar se os valores estão sendo disponibilizados corretamente em cada etapa.

O foco principal é garantir **consistência**, **integridade** e **precisão** dos dados antes da implementação final da arquitetura.

In [1]:

import pandas as pd

df = pd.read_csv(r'../data/flights.csv', index_col=0)

dataframe_copy = df.copy()

pd.set_option('display.max_columns', None)   
pd.set_option('display.max_rows', None)      
pd.set_option('display.width', 300)         
pd.set_option('display.max_colwidth', None) 
pd.set_option('display.float_format', '{:.2f}'.format)

dataframe_copy

,lastUpdatedAt,actualLandingTime,aircraftRegistration,aircraftType,baggageClaim,codeshares,estimatedLandingTime,expectedTimeOnBelt,flightDirection,flightName,flightNumber,gate,pier,id,isOperationalFlight,mainFlight,prefixIATA,prefixICAO,airlineCode,publicFlightState,route,scheduleDateTime,scheduleDate,scheduleTime,serviceType,terminal,schemaVersion,checkinAllocations,expectedSecurityFilter
0,2025-12-04T02:29:09.988+01:00,2025-12-03T23:46:11.000+01:00,PHHSK,"{'iataMain': '737', 'iataSub': '73H'}",{'belts': ['15']},{'codeshares': ['KL2629']},2025-12-03T23:46:00.000+01:00,2025-12-04T00:25:21.621+01:00,A,HV6642,6642,E6,E,143779835162204414,True,HV6642,HV,TRA,164,"{'flightStates': ['ARR', 'EXP']}","{'destinations': ['TBS'], 'eu': 'N', 'visa': False}",2025-12-04T00:00:00.000+01:00,2025-12-04,00:00:00,J,3.00,4,NaN,NaN
1,2025-12-04T02:29:09.988+01:00,2025-12-03T23:46:11.000+01:00,PHHSK,"{'iataMain': '737', 'iataSub': '73H'}",{'belts': ['15']},{'codeshares': ['KL2629']},2025-12-03T23:46:00.000+01:00,2025-12-04T00:25:21.621+01:00,A,KL2629,2629,E6,E,143779835540379578,True,HV6642,KL,KLM,100,"{'flightStates': ['ARR', 'EXP']}","{'destinations': ['TBS'], 'eu': 'N', 'visa': False}",2025-12-04T00:00:00.000+01:00,2025-12-04,00:00:00,J,3.00,4,NaN,NaN
2,2025-12-04T01:31:22.080+01:00,2025-12-03T23:50:46.000+01:00,PHYHD,"{'iataMain': '32S', 'iataSub': '32Q'}",{'belts': ['20']},{'codeshares': ['KL2746']},2025-12-03T23:50:56.000+01:00,2025-12-04T01:00:33.729+01:00,A,HV6888,6888,Z10,Z,143779835162210198,True,HV6888,HV,TRA,164,"{'flightStates': ['ARR', 'EXP']}","{'destinations': ['KEF'], 'eu': 'S', 'visa': False}",2025-12-04T00:15:00.000+01:00,2025-12-04,00:15:00,J,4.00,4,NaN,NaN
3,2025-12-04T01:31:22.080+01:00,2025-12-03T23:50:46.000+01:00,PHYHD,"{'iataMain': '32S', 'iataSub': '32Q'}",{'belts': ['20']},{'codeshares': ['KL2746']},2025-12-03T23:50:56.000+01:00,2025-12-04T01:00:33.729+01:00,A,KL2746,2746,Z10,Z,143779835540382458,True,HV6888,KL,KLM,100,"{'flightStates': ['ARR', 'EXP']}","{'destinations': ['KEF'], 'eu': 'S', 'visa': False}",2025-12-04T00:15:00.000+01:00,2025-12-04,00:15:00,J,4.00,4,NaN,NaN
4,2025-12-04T01:29:09.750+01:00,2025-12-03T23:53:12.000+01:00,PHYHY,"{'iataMain': '32S', 'iataSub': '32Q'}",{'belts': ['16']},{'codeshares': ['KL2624']},2025-12-03T23:53:50.000+01:00,2025-12-04T00:51:20.969+01:00,A,HV5752,5752,E4,E,143779835162105920,True,HV5752,HV,TRA,164,"{'flightStates': ['ARR', 'EXP']}","{'destinations': ['RAK'], 'eu': 'N', 'visa': False}",2025-12-04T00:20:00.000+01:00,2025-12-04,00:20:00,J,3.00,4,NaN,NaN
5,2025-12-04T01:29:09.750+01:00,2025-12-03T23:53:12.000+01:00,PHYHY,"{'iataMain': '32S', 'iataSub': '32Q'}",{'belts': ['16']},{'codeshares': ['KL2624']},2025-12-03T23:53:50.000+01:00,2025-12-04T00:51:20.969+01:00,A,KL2624,2624,E4,E,143779835540379568,True,HV5752,KL,KLM,100,"{'flightStates': ['ARR', 'EXP']}","{'destinations': ['RAK'], 'eu': 'N', 'visa': False}",2025-12-04T00:20:00.000+01:00,2025-12-04,00:20:00,J,3.00,4,NaN,NaN
6,2025-12-04T02:24:03.723+01:00,2025-12-04T02:10:02.000+01:00,PHCKA,"{'iataMain': '74F', 'iataSub': '74Y'}",NaN,NaN,2025-12-04T02:10:28.000+01:00,NaN,A,MP9422,9422,NaN,NaN,143779835833452346,True,MP9422,MP,MPH,122,{'flightStates': ['LND']},"{'destinations': ['HKG', 'DWC'], 'eu': 'N', 'visa': False}",2025-12-04T02:10:00.000+01:00,2025-12-04,02:10:00,F,NaN,4,NaN,NaN
7,2025-12-03T22:54:27.830+01:00,NaN,JA14KZ,"{'iataMain': '74F', 'iataSub': '74N'}",NaN,NaN,2025-12-04T07:20:00.000+01:00,NaN,A,KZ004,4,NaN,NaN,143779834010743698,True,KZ004,KZ,NCA,131,"{'flightStates': ['AIR', 'EXP']}","{'destinations': ['NRT', 'ANC'], 'eu': 'N', 'visa': False}",2025-12-04T03:40:00.000+01:00,2025-12-04,03:40:00,F,NaN,4,NaN,NaN
8,2025-12-04T01:39:50.440+01:00,NaN,NaN,"{'iataMain': '76F', 'iataSub': '76Y'}",NaN,NaN,2025-12-04T04:46:10.000+01:00,NaN,A,QY1446,1446,NaN,NaN,143779836421128608,True,QY1446,QY,BCS,289,"{'flightStates': ['SCH', 'EXP']}","{'destinations': ['LEJ'], 'eu': 'S', 'visa': False}",2025-12-04T05:15:00.000+01:00,2025-12-04,05:15:00,F,NaN,4,NaN,NaN
9,2025-12-04T02:20:01.250+01:00,NaN,NaN,"{'iataMain': '73F', 'iataSub': '73K'}",NaN,NaN,2025-12-04T05:25:22.000+01:00,NaN,A,FX4235,4235,NaN,NaN,143779834892111598,True,FX4235,FX,FDX,5326,{'flightStates': ['SCH']},"{'destinations': ['CDG'], 'eu': 'S', 'visa': False}",2025-12-04T05:20:00.000+01:00,2025-12-04,05:20:00,F,NaN,4,NaN,NaN
10,2025-12-04T02:25:02.760+01:00,NaN,PHYHX,"{'iataMain': '32S', 'iataSub': '32Q'}",NaN,{'codeshares': ['KL2581']},NaN,NaN,D,HV5717,5717,E18,E,143779835162105635,True,HV5717,HV,TRA,164,{'flightStates': ['SCH']},"{'destinations': ['RBA'], 'eu': 'N', 'visa': False}",2025-12-04T05:25:00.000+01:00,2025-12-04,05:25:00,J,1.00,4,"{'checkinAllocations': [{'endTime': '2025-12-04T04:35:00.000+01:00', 'rows': {'rows': [{'position': '2', 'desks': {'desks': [{'position': 1}, {'position': 2}, {'position': 3}, {'position': 4}, {'position': 5}, {'position': 6}, {'position': 7}, {'position': 8}, {'position': 9}, {'position': 10}]}}, {'position': '3', 'desks': {'desks': [{'position': 1}, {'position': 2}, {'position': 3}, {'position': 4}, {'position': 5}, {'position': 6}, {'position': 7}, {'position': 8}, {'position': 9}, {'position': 10}, {'position': 11}, {'position': 12}]}}]}, 'startTime': '2025-12-04T02:25:00.000+01:00'}]}",VF3
11,2025-12-04T02:25:02.760+01:00,NaN,PHYHX,"{'iataMain': '32S', 'iataSub': '32Q'}",NaN,{'codeshares': ['KL2581']},NaN,NaN,D,KL2581,2581,E18,E,143779835540377269,True,HV5717,KL,KLM,100,{'flightStates': ['SCH']},"{'destinations': ['RBA'], 'eu': 'N', 'visa': False}",2025-12-04T05:25:00.000+01:00,2025-12-04,05:25:00,J,1.00,4,"{'checkinAllocations': [{'endTime': '2025-12-04T04:35:00.000+01:00', 'rows': {'rows': [{'position': '2', 'desks': {'desks': [{'position': 1}, {'position': 2}, {'position': 3}, {'position': 4}, {'position': 5}, {'position': 6}, {'position': 7}, {'position': 8}, {'position': 9}, {'position': 10}]}}, {'position': '3', 'desks': {'desks': [{'position': 1}, {'position': 2}, {'position': 3}, {'position': 4}, {'position': 5}, {'position': 6}, {'position': 7}, {'position': 8}, {'position': 9}, {'position': 10}, {'position': 11}, {'position': 12}]}}]}, 'startTime': '2025-12-04T02:25:00.000+01:00'}]}",NaN
12,2025-12-04T02:40:03.108+01:00,NaN,PHHXK,"{'iataMain': '737', 'iataSub': '73H'}",NaN,{'codeshares': ['KL3283']},NaN,NaN,D,HV5071,5071,D62,D,143779835162086901,True,HV5071,HV,TRA,164,{'flightStates': ['SCH']},"{'destinations': ['TOS'], 'eu': 'S', 'visa': False}",2025-12-04T05:40:00.000+01:00,2025-12-04,05:40:00,J,1.00,4,"{'checkinAllocations': [{'endTime': '2025-12-04T04:50:00.000+01:00', 'rows': {'rows': [{'position': '2', 'desks': {'desks': [{'position': 1}, {'position': 2}, {'position': 3}, {'position': 4}, {'position': 5}, {'position': 6}, {'position': 7}, {'position': 8}, {'position': 9}, {'position': 10}]}}, {'position': '3', 'desks': {'desks': [{'position': 1}, {'position': 2}, {'position': 3}, {'position': 4}, {'position': 5}, {'position': 6}, {'position': 7}, {'position': 8}, {'position': 9}, {'position': 10}, {'position': 11}, {'position': 12}]}}]}, 'startTime': '2025-12-04T02:40:00.000+01:00'}]}",VF1
13,2025-12-04T02:40:03.108+01:00,NaN,PHHXK,"{'iataMain': '737', 'iataSub': '73H'}",NaN,{'codeshares': ['KL3283']},NaN,NaN,D,KL3283,3283,D62,D,143779835540470365,True,HV5071,KL,KLM,100,{'flightStates': ['SCH']},"{'destinations': ['TOS'], 'eu': 'S', 'visa': False}",2025-12-04T05:40:00.000+01:00,2025-12-04,05:40:00,J,1.00,4,"{'checkinAllocations': [{'endTime': '2025-12-04T04:50:00.000+01:00', 'rows': {'rows': [{'position': '2', 'desks': {'desks': [{'position': 1}, {'position': 2}, {'position': 3}, {'position': 4}, {'position': 5}, {'position': 6}, {'position': 7}, {'position': 8}, {'position': 9}, {'position': 10}]}}, {'position': '3', 'desks': {'desks': [{'position': 1}, {'position': 2}, {'position': 3}, {'position': 4}, {'position': 5}, {'position': 6}, {'position': 7}, {'position': 8}, {'position': 9}, {'position': 10}, {'position': 11}, {'position': 12}]}}]}, 'startTime': '2025-12-04T02:40:00.000+01:00'}]}",VF1
14,2025-12-04T00:24:07.133+01:00,NaN,PHBVA,"{'iataMain': '777', 'iataSub': '77W'}",NaN,"{'codeshares': ['AF8248', 'DL9373']}",2025-12-04T05:40:00.000+01:00,NaN,A,KL0590,590,F6,F,143779835540174728,True,KL0590,KL,KLM,100,{'flightStates': ['AIR']},"{'destinations': ['ACC'], 'eu': 'N', 'visa': False}",2025-12-04T05:45:00.000+01:00,2025-12-04,05:45:00,J,NaN,4,NaN,NaN
15,2025-12-04T00:24:07.133+01:00,NaN,PHBVA,"{'iataMain': '777', 'iataSub': '77W'}",NaN,"{'codeshares': ['AF8248', 'DL9373']}",2025-12-04T05:40:00.000+01:00,NaN,A,AF8248,8248,F6,F,143779834131607536,True,KL0590,AF,AFR,80,{'flightStates': ['AIR']},"{'destinations': ['ACC'], 'eu': 'N', 'visa': False}",2025-12-04T05:45:00.000+01:00,2025-12-04,05:45:00,J,NaN,4,NaN,NaN
16,2025-12-04T00:24:07.133+01:00,NaN,PHBVA,"{'iataMain': '777', 'iataSub': '77W'}",NaN,"{'codeshares': ['AF8248', 'DL9373']}",2025-12-04T05:40:00.000+01:00,NaN,A,DL9373,9373,F6,F,143779834570265466,True,KL0590,DL,DAL,58,{'flightStates': ['AIR']},"{'destinations': ['ACC'], 'eu': 'N', 'visa': False}",2025-12-04T05:45:00.000+01:00,2025-12-04,05:45:00,J,NaN,4,NaN,NaN
17,2025-12-04T03:04:27.703+01:00,NaN,PHAKA,"{'iataMain': '330', 'iataSub': '333'}",NaN,"{'codeshares': ['AF5479', 'DL9507']}",2025-12-04T05:51:05.000+01:00,NaN,A,AF5479,5479,F9,F,143779834131309318,True,KL0588,AF,AFR,80,{'flightStates': ['AIR']},"{'destinations': ['LOS'], 'eu': 'N', 'visa': False}",2025-12-04T05:55:00.000+01:00,2025-12-04,05:55:00,J,NaN,4,NaN,NaN
18,2025-12-04T03:04:27.703+01:00,NaN,PHAKA,"{'iataMain': '330', 'iataSub': '333'}",NaN,"{'codeshares': ['AF5479', 'DL9507']}",2025-12-04T05:51:05.000+01:00,NaN,A,DL9507,9507,F9,F,143779834570270432,True,KL0588,DL,DAL,58,{'flightStates': ['AIR']},"{'destinations': ['LOS'], 'eu': 'N', 'visa': False}",2025-12-04T05:55:00.000+01:00,2025-12-04,05:55:00,J,NaN,4,NaN,NaN
19,2025-12-04T03:04:27.703+01:00,NaN,PHAKA,"{'iataMain': '330', 'iataSub': '333'}",NaN,"{'codeshares': ['AF5479', 'DL9507']}",2025-12-04T05:51:05.000+01:00,NaN,A,KL0588,588,F9,F,143779835540174670,True,KL0588,KL,KLM,100,{'flightStates': ['AIR']},"{'destinations': ['LOS'], 'eu': 'N', 'visa': False}",2025-12-04T05:55:00.000+01:00,2025-12-04,05:55:00,J,NaN,4,NaN,NaN

# Checklist de Tratamento de Colunas (Flights)

## 1. Traduzir as colunas
- [ ] Criar um dicionário de tradução dos nomes originais para nomes novos.
- [ ] Aplicar `df.rename(columns=...)`.
- [ ] Validar se todas foram corretamente renomeadas.

---

## 2. Visão Geral do Dataset
- [ ] Carregar o dataset e verificar as primeiras linhas (`df.head()`).
- [ ] Verificar tipos de dados (`df.dtypes`).
- [ ] Contar valores nulos por coluna (`df.isna().sum()`).
- [ ] Mapear quais colunas são strings de objetos (ex: `"{'iataMain': '32S'}"`).

---

## 3. Colunas de Datas e Horários
Exemplos: lastUpdatedAt, actualLandingTime, estimatedLandingTime, scheduleDateTime

- [ ] Conferir se a coluna está como object e converter com `pd.to_datetime()`.
- [ ] Validar timezone (UTC, +01:00 etc).
- [ ] Criar colunas derivadas se necessário:
  - data (`.dt.date`)
  - hora (`.dt.time`)
  - ano/mês/dia (`.dt.year`, `.dt.month`, `.dt.day`)
- [ ] Verificar inconsistências entre horários estimados, reais e previstos.

---

## 4. Colunas de Identificação de Avião
Exemplos: aircraftRegistration, aircraftType

- [ ] Verificar se contêm códigos padronizados (IATA/ICAO).
- [ ] Verificar duplicatas.
- [ ] Normalizar letras maiúsculas/minúsculas (`.str.upper()`).
- [ ] Converter dict em string para objeto real (se aplicável).

---

## 5. Colunas que São Objetos em String
Exemplos:
"{'iataMain': '32S', 'iataSub': '32Q'}"  
"{'codeshares': ['KL2573']}"  
"{'flightStates': ['ARR', 'EXP']}"  
"{'destinations': ['LPA'], 'eu': 'S', 'visa': False}"

- [ ] Identificar colunas com dicionários ou listas representados como string.
- [ ] Converter usando:
  - `json.loads()` (se for JSON válido)
  - `ast.literal_eval()` (se for Python dict)
- [ ] Decidir como processar:
  - explodir listas em linhas (`explode`)
  - separar dicionários em colunas (`pd.json_normalize`)
  - manter como está

---

## 6. Colunas com Listas Internas
Exemplos:
{'belts': ['20']}  
{'codeshares': ['AF3112', 'KE5925', 'SK6777']}

- [ ] Identificar todas as colunas com listas.
- [ ] Converter para objetos Python.
- [ ] Escolher abordagem:
  - transformar em string "20,21,22"
  - expandir em colunas (belt_1, belt_2)
  - explodir em múltiplas linhas

---

## 7. Colunas de Códigos e Prefixos
Exemplos: prefixIATA, prefixICAO, airlineCode, flightNumber

- [ ] Verificar consistência dos códigos.
- [ ] Padronizar em maiúsculas.
- [ ] Remover espaços extras (`str.strip()`).
- [ ] Decidir se devem ser inteiros ou strings.

---

## 8. Colunas de Rota
Exemplo: "{'destinations': ['LPA'], 'eu': 'S', 'visa': False}"

- [ ] Converter para dict.
- [ ] Normalizar com `pd.json_normalize()`.
- [ ] Criar colunas derivadas:
  - destino principal
  - indicador UE
  - indicador de visto

---

## 9. Colunas Relacionadas a Status
Exemplos:
"{'flightStates': ['ARR', 'EXP']}"  
publicFlightState

- [ ] Identificar lista de status possíveis.
- [ ] Converter lista em string ou explodir.
- [ ] Criar colunas booleanas (dummies) se necessário.

---

## 10. Colunas Numéricas
Exemplos: terminal, schemaVersion, baggageClaim

- [ ] Verificar se estão como string quando deveriam ser numéricas.
- [ ] Tratar NaN.
- [ ] Ajustar floats que deveriam ser inteiros.

---

## 11. Colunas Complexas de Check-in
Exemplo típico em checkinAllocations

- [ ] Converter string para dict.
- [ ] Inspecionar estrutura real.
- [ ] Definir estratégia:
  - normalizar com `json_normalize`
  - manter apenas campos relevantes
  - explodir listas ou posições

---

## 12. Limpeza Final
- [ ] Remover colunas inúteis.
- [ ] Tratar duplicatas.
- [ ] Preencher valores nulos conforme regra.
- [ ] Validar integridade final (`df.info()`).

---

## 13. Exportação
- [ ] Exportar dataset limpo para parquet, csv ou json.
- [ ] Validar se estruturas complexas foram preservadas.

d

In [14]:
dataframe_copy[~dataframe_copy.isna()]

,lastUpdatedAt,actualLandingTime,aircraftRegistration,aircraftType,baggageClaim,codeshares,estimatedLandingTime,expectedTimeOnBelt,flightDirection,flightName,flightNumber,gate,pier,id,isOperationalFlight,mainFlight,prefixIATA,prefixICAO,airlineCode,publicFlightState,route,scheduleDateTime,scheduleDate,scheduleTime,serviceType,terminal,schemaVersion,checkinAllocations,expectedSecurityFilter
0,2025-12-04T02:29:09.988+01:00,2025-12-03T23:46:11.000+01:00,PHHSK,"{'iataMain': '737', 'iataSub': '73H'}",{'belts': ['15']},{'codeshares': ['KL2629']},2025-12-03T23:46:00.000+01:00,2025-12-04T00:25:21.621+01:00,A,HV6642,6642,E6,E,143779835162204414,True,HV6642,HV,TRA,164,"{'flightStates': ['ARR', 'EXP']}","{'destinations': ['TBS'], 'eu': 'N', 'visa': False}",2025-12-04T00:00:00.000+01:00,2025-12-04,00:00:00,J,3.00,4,NaN,NaN
1,2025-12-04T02:29:09.988+01:00,2025-12-03T23:46:11.000+01:00,PHHSK,"{'iataMain': '737', 'iataSub': '73H'}",{'belts': ['15']},{'codeshares': ['KL2629']},2025-12-03T23:46:00.000+01:00,2025-12-04T00:25:21.621+01:00,A,KL2629,2629,E6,E,143779835540379578,True,HV6642,KL,KLM,100,"{'flightStates': ['ARR', 'EXP']}","{'destinations': ['TBS'], 'eu': 'N', 'visa': False}",2025-12-04T00:00:00.000+01:00,2025-12-04,00:00:00,J,3.00,4,NaN,NaN
2,2025-12-04T01:31:22.080+01:00,2025-12-03T23:50:46.000+01:00,PHYHD,"{'iataMain': '32S', 'iataSub': '32Q'}",{'belts': ['20']},{'codeshares': ['KL2746']},2025-12-03T23:50:56.000+01:00,2025-12-04T01:00:33.729+01:00,A,HV6888,6888,Z10,Z,143779835162210198,True,HV6888,HV,TRA,164,"{'flightStates': ['ARR', 'EXP']}","{'destinations': ['KEF'], 'eu': 'S', 'visa': False}",2025-12-04T00:15:00.000+01:00,2025-12-04,00:15:00,J,4.00,4,NaN,NaN
3,2025-12-04T01:31:22.080+01:00,2025-12-03T23:50:46.000+01:00,PHYHD,"{'iataMain': '32S', 'iataSub': '32Q'}",{'belts': ['20']},{'codeshares': ['KL2746']},2025-12-03T23:50:56.000+01:00,2025-12-04T01:00:33.729+01:00,A,KL2746,2746,Z10,Z,143779835540382458,True,HV6888,KL,KLM,100,"{'flightStates': ['ARR', 'EXP']}","{'destinations': ['KEF'], 'eu': 'S', 'visa': False}",2025-12-04T00:15:00.000+01:00,2025-12-04,00:15:00,J,4.00,4,NaN,NaN
4,2025-12-04T01:29:09.750+01:00,2025-12-03T23:53:12.000+01:00,PHYHY,"{'iataMain': '32S', 'iataSub': '32Q'}",{'belts': ['16']},{'codeshares': ['KL2624']},2025-12-03T23:53:50.000+01:00,2025-12-04T00:51:20.969+01:00,A,HV5752,5752,E4,E,143779835162105920,True,HV5752,HV,TRA,164,"{'flightStates': ['ARR', 'EXP']}","{'destinations': ['RAK'], 'eu': 'N', 'visa': False}",2025-12-04T00:20:00.000+01:00,2025-12-04,00:20:00,J,3.00,4,NaN,NaN
5,2025-12-04T01:29:09.750+01:00,2025-12-03T23:53:12.000+01:00,PHYHY,"{'iataMain': '32S', 'iataSub': '32Q'}",{'belts': ['16']},{'codeshares': ['KL2624']},2025-12-03T23:53:50.000+01:00,2025-12-04T00:51:20.969+01:00,A,KL2624,2624,E4,E,143779835540379568,True,HV5752,KL,KLM,100,"{'flightStates': ['ARR', 'EXP']}","{'destinations': ['RAK'], 'eu': 'N', 'visa': False}",2025-12-04T00:20:00.000+01:00,2025-12-04,00:20:00,J,3.00,4,NaN,NaN
6,2025-12-04T02:24:03.723+01:00,2025-12-04T02:10:02.000+01:00,PHCKA,"{'iataMain': '74F', 'iataSub': '74Y'}",NaN,NaN,2025-12-04T02:10:28.000+01:00,NaN,A,MP9422,9422,NaN,NaN,143779835833452346,True,MP9422,MP,MPH,122,{'flightStates': ['LND']},"{'destinations': ['HKG', 'DWC'], 'eu': 'N', 'visa': False}",2025-12-04T02:10:00.000+01:00,2025-12-04,02:10:00,F,NaN,4,NaN,NaN
7,2025-12-03T22:54:27.830+01:00,NaN,JA14KZ,"{'iataMain': '74F', 'iataSub': '74N'}",NaN,NaN,2025-12-04T07:20:00.000+01:00,NaN,A,KZ004,4,NaN,NaN,143779834010743698,True,KZ004,KZ,NCA,131,"{'flightStates': ['AIR', 'EXP']}","{'destinations': ['NRT', 'ANC'], 'eu': 'N', 'visa': False}",2025-12-04T03:40:00.000+01:00,2025-12-04,03:40:00,F,NaN,4,NaN,NaN
8,2025-12-04T01:39:50.440+01:00,NaN,NaN,"{'iataMain': '76F', 'iataSub': '76Y'}",NaN,NaN,2025-12-04T04:46:10.000+01:00,NaN,A,QY1446,1446,NaN,NaN,143779836421128608,True,QY1446,QY,BCS,289,"{'flightStates': ['SCH', 'EXP']}","{'destinations': ['LEJ'], 'eu': 'S', 'visa': False}",2025-12-04T05:15:00.000+01:00,2025-12-04,05:15:00,F,NaN,4,NaN,NaN
9,2025-12-04T02:20:01.250+01:00,NaN,NaN,"{'iataMain': '73F', 'iataSub': '73K'}",NaN,NaN,2025-12-04T05:25:22.000+01:00,NaN,A,FX4235,4235,NaN,NaN,143779834892111598,True,FX4235,FX,FDX,5326,{'flightStates': ['SCH']},"{'destinations': ['CDG'], 'eu': 'S', 'visa': False}",2025-12-04T05:20:00.000+01:00,2025-12-04,05:20:00,F,NaN,4,NaN,NaN
10,2025-12-04T02:25:02.760+01:00,NaN,PHYHX,"{'iataMain': '32S', 'iataSub': '32Q'}",NaN,{'codeshares': ['KL2581']},NaN,NaN,D,HV5717,5717,E18,E,143779835162105635,True,HV5717,HV,TRA,164,{'flightStates': ['SCH']},"{'destinations': ['RBA'], 'eu': 'N', 'visa': False}",2025-12-04T05:25:00.000+01:00,2025-12-04,05:25:00,J,1.00,4,"{'checkinAllocations': [{'endTime': '2025-12-04T04:35:00.000+01:00', 'rows': {'rows': [{'position': '2', 'desks': {'desks': [{'position': 1}, {'position': 2}, {'position': 3}, {'position': 4}, {'position': 5}, {'position': 6}, {'position': 7}, {'position': 8}, {'position': 9}, {'position': 10}]}}, {'position': '3', 'desks': {'desks': [{'position': 1}, {'position': 2}, {'position': 3}, {'position': 4}, {'position': 5}, {'position': 6}, {'position': 7}, {'position': 8}, {'position': 9}, {'position': 10}, {'position': 11}, {'position': 12}]}}]}, 'startTime': '2025-12-04T02:25:00.000+01:00'}]}",VF3
11,2025-12-04T02:25:02.760+01:00,NaN,PHYHX,"{'iataMain': '32S', 'iataSub': '32Q'}",NaN,{'codeshares': ['KL2581']},NaN,NaN,D,KL2581,2581,E18,E,143779835540377269,True,HV5717,KL,KLM,100,{'flightStates': ['SCH']},"{'destinations': ['RBA'], 'eu': 'N', 'visa': False}",2025-12-04T05:25:00.000+01:00,2025-12-04,05:25:00,J,1.00,4,"{'checkinAllocations': [{'endTime': '2025-12-04T04:35:00.000+01:00', 'rows': {'rows': [{'position': '2', 'desks': {'desks': [{'position': 1}, {'position': 2}, {'position': 3}, {'position': 4}, {'position': 5}, {'position': 6}, {'position': 7}, {'position': 8}, {'position': 9}, {'position': 10}]}}, {'position': '3', 'desks': {'desks': [{'position': 1}, {'position': 2}, {'position': 3}, {'position': 4}, {'position': 5}, {'position': 6}, {'position': 7}, {'position': 8}, {'position': 9}, {'position': 10}, {'position': 11}, {'position': 12}]}}]}, 'startTime': '2025-12-04T02:25:00.000+01:00'}]}",NaN
12,2025-12-04T02:40:03.108+01:00,NaN,PHHXK,"{'iataMain': '737', 'iataSub': '73H'}",NaN,{'codeshares': ['KL3283']},NaN,NaN,D,HV5071,5071,D62,D,143779835162086901,True,HV5071,HV,TRA,164,{'flightStates': ['SCH']},"{'destinations': ['TOS'], 'eu': 'S', 'visa': False}",2025-12-04T05:40:00.000+01:00,2025-12-04,05:40:00,J,1.00,4,"{'checkinAllocations': [{'endTime': '2025-12-04T04:50:00.000+01:00', 'rows': {'rows': [{'position': '2', 'desks': {'desks': [{'position': 1}, {'position': 2}, {'position': 3}, {'position': 4}, {'position': 5}, {'position': 6}, {'position': 7}, {'position': 8}, {'position': 9}, {'position': 10}]}}, {'position': '3', 'desks': {'desks': [{'position': 1}, {'position': 2}, {'position': 3}, {'position': 4}, {'position': 5}, {'position': 6}, {'position': 7}, {'position': 8}, {'position': 9}, {'position': 10}, {'position': 11}, {'position': 12}]}}]}, 'startTime': '2025-12-04T02:40:00.000+01:00'}]}",VF1
13,2025-12-04T02:40:03.108+01:00,NaN,PHHXK,"{'iataMain': '737', 'iataSub': '73H'}",NaN,{'codeshares': ['KL3283']},NaN,NaN,D,KL3283,3283,D62,D,143779835540470365,True,HV5071,KL,KLM,100,{'flightStates': ['SCH']},"{'destinations': ['TOS'], 'eu': 'S', 'visa': False}",2025-12-04T05:40:00.000+01:00,2025-12-04,05:40:00,J,1.00,4,"{'checkinAllocations': [{'endTime': '2025-12-04T04:50:00.000+01:00', 'rows': {'rows': [{'position': '2', 'desks': {'desks': [{'position': 1}, {'position': 2}, {'position': 3}, {'position': 4}, {'position': 5}, {'position': 6}, {'position': 7}, {'position': 8}, {'position': 9}, {'position': 10}]}}, {'position': '3', 'desks': {'desks': [{'position': 1}, {'position': 2}, {'position': 3}, {'position': 4}, {'position': 5}, {'position': 6}, {'position': 7}, {'position': 8}, {'position': 9}, {'position': 10}, {'position': 11}, {'position': 12}]}}]}, 'startTime': '2025-12-04T02:40:00.000+01:00'}]}",VF1
14,2025-12-04T00:24:07.133+01:00,NaN,PHBVA,"{'iataMain': '777', 'iataSub': '77W'}",NaN,"{'codeshares': ['AF8248', 'DL9373']}",2025-12-04T05:40:00.000+01:00,NaN,A,KL0590,590,F6,F,143779835540174728,True,KL0590,KL,KLM,100,{'flightStates': ['AIR']},"{'destinations': ['ACC'], 'eu': 'N', 'visa': False}",2025-12-04T05:45:00.000+01:00,2025-12-04,05:45:00,J,NaN,4,NaN,NaN
15,2025-12-04T00:24:07.133+01:00,NaN,PHBVA,"{'iataMain': '777', 'iataSub': '77W'}",NaN,"{'codeshares': ['AF8248', 'DL9373']}",2025-12-04T05:40:00.000+01:00,NaN,A,AF8248,8248,F6,F,143779834131607536,True,KL0590,AF,AFR,80,{'flightStates': ['AIR']},"{'destinations': ['ACC'], 'eu': 'N', 'visa': False}",2025-12-04T05:45:00.000+01:00,2025-12-04,05:45:00,J,NaN,4,NaN,NaN
16,2025-12-04T00:24:07.133+01:00,NaN,PHBVA,"{'iataMain': '777', 'iataSub': '77W'}",NaN,"{'codeshares': ['AF8248', 'DL9373']}",2025-12-04T05:40:00.000+01:00,NaN,A,DL9373,9373,F6,F,143779834570265466,True,KL0590,DL,DAL,58,{'flightStates': ['AIR']},"{'destinations': ['ACC'], 'eu': 'N', 'visa': False}",2025-12-04T05:45:00.000+01:00,2025-12-04,05:45:00,J,NaN,4,NaN,NaN
17,2025-12-04T03:04:27.703+01:00,NaN,PHAKA,"{'iataMain': '330', 'iataSub': '333'}",NaN,"{'codeshares': ['AF5479', 'DL9507']}",2025-12-04T05:51:05.000+01:00,NaN,A,AF5479,5479,F9,F,143779834131309318,True,KL0588,AF,AFR,80,{'flightStates': ['AIR']},"{'destinations': ['LOS'], 'eu': 'N', 'visa': False}",2025-12-04T05:55:00.000+01:00,2025-12-04,05:55:00,J,NaN,4,NaN,NaN
18,2025-12-04T03:04:27.703+01:00,NaN,PHAKA,"{'iataMain': '330', 'iataSub': '333'}",NaN,"{'codeshares': ['AF5479', 'DL9507']}",2025-12-04T05:51:05.000+01:00,NaN,A,DL9507,9507,F9,F,143779834570270432,True,KL0588,DL,DAL,58,{'flightStates': ['AIR']},"{'destinations': ['LOS'], 'eu': 'N', 'visa': False}",2025-12-04T05:55:00.000+01:00,2025-12-04,05:55:00,J,NaN,4,NaN,NaN
19,2025-12-04T03:04:27.703+01:00,NaN,PHAKA,"{'iataMain': '330', 'iataSub': '333'}",NaN,"{'codeshares': ['AF5479', 'DL9507']}",2025-12-04T05:51:05.000+01:00,NaN,A,KL0588,588,F9,F,143779835540174670,True,KL0588,KL,KLM,100,{'flightStates': ['AIR']},"{'destinations': ['LOS'], 'eu': 'N', 'visa': False}",2025-12-04T05:55:00.000+01:00,2025-12-04,05:55:00,J,NaN,4,NaN,NaN