# Protótipo da Pipeline dos Conjuntos de Dados — Schiphol Airlines

Este protótipo tem como objetivo validar o fluxo completo dos dados referente ao conjunto de dados Airlines da api do Schiphol.  
A pipeline foi construída para verificar se os valores estão sendo disponibilizados corretamente em cada etapa.

O foco principal é garantir **consistência**, **integridade** e **precisão** dos dados antes da implementação final da arquitetura.

In [1]:

import pandas as pd

df = pd.read_csv(r'../data/airlines.csv', index_col=0)

dataframe_copy = df.copy()

pd.set_option('display.max_columns', None)   
pd.set_option('display.max_rows', None)      
pd.set_option('display.width', 300)         
pd.set_option('display.max_colwidth', None) 
pd.set_option('display.float_format', '{:.2f}'.format)

dataframe_copy

   iata icao  nvls                      publicName
0    0B  BLA  5191                        Blue Air
1    2F  EZZ  5316                     ETF Airways
2    2L  OAW   449                        Helvetic
3    2N  LYX  5259                Smart Lynx Malta
4    2W  WFL  5309                       World2fly
5    3O  MAC  4891                Air Arabia Maroc
6    4M  MGH  5310                    MGA Airlines
7    4U  GWI  5005                     Germanwings
8    4Y  BGA  5234  Airbus Transport International
9    5F  FIA  5291                          Flyone
10   5K  HFY   114                       Hi Fly SA
11   5M  HFM  5192                      Hi Fly Ltd
12   5O  FPO  5082             ASL Airlines France
13   5P  LLX  5084           Small Planet Airlines
14   6B  BLX  5135                   TUIfly Nordic
15   6E  IGO  5300                          IndiGo
16   6H  ISR    96                          Israir
17   6I  NaN  5251                  Air Alisie A/S
18   6K  TAH  5321                        Air Anka
19   6Y  ART  5088              SmartLynx Airlines